<!doctype html>
<html class="no-js" lang="">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Messiah University Map</title>

  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!-- Place favicon.ico in the root directory -->
  <!-- Repo test - Delete -->
  <!-- importing font-packs -->
  <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/72d06cb8-0c8f-4fd7-b671-80f4e1989ebc.css"/>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css?v=17">
  <!-- <link rel="stylesheet" href="styles/main.min.css?v=17"> -->
  <!-- endbuild -->

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M85XH3B');</script>
<!-- End Google Tag Manager -->


</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M85XH3B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Right Side Drawer -->
<div id="infoDrawer" >
  <a href="javascript:void(0)" class="closebtn" onclick="closeInfoDrawer()"><img src="images/drawerExitBtn.png"/></a>
  <div id="infoDrawerContent" ></div>
</div>
<script>
  const normalDrawerWidth = 401;
  const mobileBreakPoint = 480;
  function openInfoDrawer() {
    document.getElementById("infoDrawer").style.left = 0;
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeInfoDrawer() {
    resetSelectedMarker();
    map.setZoom(zoomUnfocused);
    document.getElementById("infoDrawer").style.left = "-100%";
  }
</script>
<!-- End Right Side Drawer -->

<!-- Main part of the site -->
<div id="main">

  <!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="calls-to-action">
    <a id="request-info"
       class="call-to-action" href="https://www.messiah.edu/homepage/1553/request_information"
       target="_blank" >Request Info</a>
    <a id="visit-campus"
       class="call-to-action" href="https://www.messiah.edu/visit"
       target="_blank" >Visit Campus</a>
  </div>

  <div id="map" class="mapContainer"></div>
  <div id="coords" style="background-color: white; display: none;"></div>
  <div id="small-info-window"></div>

  <div id="announcement-back">
    <div id="announcement-window">
      <div class="toolTip">
          <span onclick="" class="announcement-close announcement-close-button"><i class="icon-x-btn"></i></span>
        <div>
          <p id="announcement-title"></p>
          <p id="announcement-description" class="toolTip__content"></p>
          <p class="text-center tooltip__toolBar">
            <a id="announcement-button" class="announcement-close btn toolTip__btn">View the campus map</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mainSidebarWrapper">

    <header class="mainHeader">
      <div class="top-margin"></div>
      <div class="mainLogo">
        <img src="images/mu-logo-blue.svg" alt="Messiah University">

        <div class="mobileControls">
          <span class="toggleSearch icon-search"></span>
          <span class="toggleOptions glyphicon glyphicon-menu-hamburger"></span>
        </div>
      </div>

      <div class="mainSearchBar collapse">
        <input id="search" class="form-control" type="text" placeholder="SEARCH">
      </div>
    </header>

    <div class="tabsContainer">

      <!-- Tab panes -->
      <div id="mainSidebarTabContent" class="tab-content tabContent">
        <div role="tabpanel" class="tab-pane active" id="locations">
          <div class="menu-section">Visitor Quick Links</div>
          <ul class="categories sightsList categories1">
          </ul>
          <div class="menu-section">Locations</div>
          <ul class="categories sightsList categories2">
          </ul>
        </div>
        <div role="tabpanel tabContent" class="tab-pane" id="tours">
          <ul class="tours toursList">
          </ul>
        </div>
      </div>
      <div class="dprint-btn-container">
        <a class="dprint-btn" href="https://www.messiah.edu/download/downloads/id/5435/2018_19_CAMPUS_MAP_PARKINGweb.pdf" target="_blank">Download Printable Map</a>
      </div>
    </div>

    <div class="large-info-window"></div>

    <div id="unfocusMobileMenu" />
  </div>

  <div id="sidebarToggle">
    <span class="icon-doublearrow-left"></span>
  </div>

  <!-- The Modal/Lightbox -->
  <div id="myModal" class="modal" style="display: none" onclick="closeModal()"/>
    <div class="modal-content" onclick="stopClosingModal(event)">

      <div id="mySlidesContainer">
        <div class="mySlides">
          <img src="http://www.messiah.edu/images/Admissions_2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <img src="http://www.messiah.edu/images/Admissions.JPG" style="width:100%">
        </div>
      </div>

      <!-- Thumbnail image controls -->
      <div id="columns">
        <div class="column">
          <img class="demo" src="http://www.messiah.edu/images/Admissions_2.jpg" onclick="currentSlide(1)">
        </div>

        <div class="column">
          <img class="demo" src="http://www.messiah.edu/images/Admissions.JPG" onclick="currentSlide(2)">
        </div>
      </div>
      <div id="modalExitButton" onclick="closeModal()">X</div>
    </div>
  </div>
</div>

<script id="mySlidesTemplate" type="text/x-jQuery-tmpl">
  <div>
    {{each images}}
      <div class="mySlides">
            <img src="${$value.url}" style="width:100%">
      </div>
    {{/each}}
  <div>
</script>

<script id="columnsTemplate" type="text/x-jQuery-tmpl">
  <div>
    {{each images}}
      <div class="column">
         <img class="demo" src="${$value.url}" onclick="currentSlide(${$value.num})">
      </div>
    {{/each}}
  <div>
</script>

<script id="categoryTemplate" type="text/x-jQuery-tmpl">
  {{if (locations.length > 0) && (expand) }}
  <li class="header" data-expand="true" data-id="${id}">
  {{else}}
  <li class="header" data-expand="false" data-id="${id}">
  {{/if}}
    <div class="category-entry">
      <div class="marker category-entry-icon"><img src="images/${icon}"/></div>
      <div class="sightName">${title}</div>

      {{if (locations.length > 0) && (expand) }}
      <div class="toggleIcon">+</div>
      {{/if}}
    </div>

    <ul class="locations sightsList">
      <li class="show-hide"><a class="show-all btn master-button" id="check-${id}">Show All</a><a id="hide-${id}" class="hide-all btn master-button">Hide All</a></li>
      {{each locations}}
				<li data-id="${$value.entry_id}" class="location">${$value.entry_title}</li>
			{{/each}}
      {{if note != '' }}
      <li class="note">${note}</li>
      {{/if}}
    </ul>
  </li>
</script>

<script id="tourTemplate" type="text/x-jQuery-tmpl">
  <li>
    <a class="fancybox-media" href="${read_more_link}"><img src="http://www.messiah.edu/images/${image_1_required}" width="100%"></a>
    <p><strong>${entry_title}</strong></p>
    <p>${description}</p>
    <a class="fancybox-media" href="${read_more_link}"><span class="marker icon-chevronright"></span></a>
  </li>
</script>

<script id="locationInfoTemplate" type="text/x-jQuery-tmpl">
  <div class="toolTip">
    <div>
      <div class="tooltipCarousel">
        <div class="carouselContent">
          {{if image != ''}}
          <img class="toolTip__image" src="${image}">
          {{else}}
          <img class="toolTip__image" src="images/location-image-placeholder.png">
          {{/if}}
        </div>
        {{if image != ''}}
        <div id="carousel-expand-button" onclick="openModal();currentSlide(1)" >
          <img src="images/expand.png"/>
        </div>
        {{/if}}
      </div>
      <div class="menuOptions">
        <div id="option-directions" />
        {{if virtual_tour != ''}}
          <div id="option-tour" />
        {{/if}}
        {{if read_more_link != ''}}
          <div id="option-website" />
        {{/if}}
        {{if image != ''}}
          <div id="option-gallery" />
        {{/if}}
      </div>
      <div class="infoDrawerTextAndButtons" >
        <div class="toolTip__header">
          <!-- <span class="marker-small  marker ${icon}"></span> -->
          <span>${entry_title}</span>
        </div>

        <p id="locationInfoDescription" class="toolTip__content">${description}</p>

        <div id="copy-link-panel" class="toolTip__copy-link">
          <p><input id="copy-link-edit" class="form-control copy-link-edit" type="text" value="${copyLink}" readonly><span class="icon-close-btn"></span></p>
        </div>
        <div class="toolTip__copy-link" style="display:none;">
          <p><a class="btn toolTip__btn" href="${copyLink}" target="_blank"><span class="icon-link"></span>Open Link</a><span class="text">Link directly to this location on the campus map.</span><span class="icon-close-btn"></span></p>
        </div>
        <div class="locationButtons">
          <div class="viewLocationOnMap">
            View on the Map
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="menuOptionTemplate" type="text/x-jQuery-tmpl">
  <div>
    <a class="menuOptionContainer"
        {{if option_url }} href="${option_url}" target="_blank" {{/if}}
        {{if option_onclick }} onclick="${option_onclick}" {{/if}}
        >
      <div class="menuOptionIcon">
        <img src="${option_image}" />
      </div>
      <div class="menuOptionText">
        ${option_text}
      </div>
    </a>
  </div>
</script>

<script id="smallLocationInfoTemplate" type="text/x-jQuery-tmpl">
  <div class="toolTip">
    <div class="toolTip__header">
      <span onclick="" class="small-info-close"><i class="icon-x-btn"></i></span>
      <span class="marker-small  marker ${icon}"></span>
      <span class="title">${entry_title}</span>
    </div>
    <div>
      <p class="text-center tooltip__toolBar">
        <a class="show-location-details btn toolTip__btn">Show Details</a>
      <p>
    </div>
  </div>
</script>

<script id="largeLocationInfoTemplate" type="text/x-jQuery-tmpl">
  <div class="toolTip">
    <div class="toolTip__header">
      <span onclick="" class="large-info-close"><i class="icon-x-btn"></i></span>
      <span class="marker-small  marker ${icon}"></span>
      <span>${entry_title}</span>
      {{if copyLink != ''}}
      <span onclick="" class="icon-pop-out"></span>
      {{/if}}
    </div>
    <div id="copy-link-panel" class="toolTip__copy-link">
      <p><input id="copy-link-edit" class="form-control copy-link-edit" type="text" value="${copyLink}" readonly><span onclick="" class="icon-close-btn"></span></p>
    </div>
    <div class="toolTip__copy-link" style="display:none;">
      <p><a class="btn toolTip__btn" href="${copyLink}" target="_blank"><span class="icon-link"></span>Open Link</a><span class="text">Link directly to this location on the campus map.</span><span class="icon-close-btn"></span></p>
    </div>
    <div>
      {{if image != ''}}
      <div class="tooltipCarousel">
        {{if imageCount > 1}}
        <span onclick="" id="carousel-left" class="carouselControl icon-chevronleft"></span>
        {{else}}
        <span id="carousel-left" style="visibility:hidden;" class="carouselControl icon-chevronleft"></span>
        {{/if}}
        <div class="carouselContent">
          <img class="toolTip__image" src="${image}">
        </div>
        {{if imageCount > 1}}
        <span onclick="" id="carousel-right" class="carouselControl icon-chevronright"></span>
        {{else}}
        <span id="carousel-right" style="visibility:hidden;" class="carouselControl icon-chevronright"></span>
        {{/if}}
      </div>
      {{/if}}

      <p class="text-center tooltip__toolBar">
        <a class="btn toolTip__btn" href="https://maps.google.com?saddr=Current+Location&daddr=${location}" target="_blank">DIRECTIONS</a>
        {{if read_more_link != ''}}
        <a class="btn toolTip__btn" href="${read_more_link}" target="_blank">READ MORE</a>
        {{/if}}
      <p>
      <p class="toolTip__content">${description}</p>
    </div>
  </div>
</script>

<!-- jQuery -->
<!-- Old version <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- jQuery UI -->
<!-- Old version <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

<!-- jQuery Templates -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

<!-- jQuery MMenu -->
<link rel="stylesheet" type="text/css" href="./styles/mmenu.css">
<script src="./scripts/mmenu/mmenu.polyfills.js"></script>
<script src="./scripts/mmenu/mmenu.js"></script>


<script type="text/javascript" src="scripts/main.js"></script>
<!-- <script type="text/javascript" src="scripts/main.min.js"></script> -->

<!-- Google Maps -->
<!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDuK03Xp4KZdkHVHnsuV0Q46uVR5W7ECcU&callback=initMap"></script>

<!--- fancybox -->
<link rel="stylesheet" type="text/css" href="lib/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<script type="text/javascript" src="lib/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="lib/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

</body>
</html>
